
body {
    padding: 0;
    width: auto;
    background-color: black;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;

}

div{
    box-sizing: border-box;
    width: auto;
    padding: 0%;
    display: flex;
}
html{
    height: 100%;
    
}


.setter-divs {
    padding: 0% 0% 0% 0%;
}

section.new-section {
    height: 100%;
    text-align: center;
    background-image: #651fff;
    background: #eee;
    border-color: #651fff;
  }

h1.h1tags{
    text-align: center;
    color: rgb(255, 118, 108);
    height: 100%;
    width: 100%;
}
div.topbar{
    background-color: #651fff;
}
.topbar {
    align-items: center;
    font-family: 'Trebuchet MS';
    padding-top: 20px;
  }

.bio{
    text-align: center;
    font-size: large;
    color: white;
    background-color: #651fff;
    overflow: hidden;
    font-weight: bold;
    font-family: 'Trebuchet MS';
}

.about {
    text-align: left;
    font-family: 'Trebuchet MS';
}
.aboutmebio{
    text-align: center;
    font-size: large;
    color: white;
    background-color: #651fff;
    overflow: hidden;
    font-weight: bold;
    font-family: 'Trebuchet MS';
}
.aboutme{
    font-weight: bold;
    font-family: 'Trebuchet MS';
    overflow: hidden;
    font-size: large;
}

.framebody{
    background-color: antiquewhite;
   
    overflow: hidden;
}

.main-body{
    padding: 0%;
    background-color: black;
}